<div class="card">
    <div class="card-header">
        <% if lesson.viewed(current_user) == true %>
            <i class="fa fa-check-square text-success"></i>
        <% else %>
            <i class="fa fa-check-square"></i>
        <% end %>
        <%= link_to lesson.title, lesson %>
    </div>
    <% if policy(lesson).show? %>
        <div class="card-body">
            <%= lesson.content %>
        </div>
    <% end %>
    <% if policy(lesson).edit? %>
        <div class="card-footer">
            <%= link_to 'Edit', edit_lesson_path(lesson), class: "btn btn-sm btn-warning" %>
            <%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
        </div>
    <% end %>
</div>
<p></p>