<div class="card">
    <div class="card-header">
        <h1>
            <i class="fa far-check-square" aria-hidden="true"></i>
            Editing Lesson
        </h1>
    </div>
    <div class="card-body">
        <%= render 'form', lesson: @lesson %>
    </div>
    <div class="card-footer">
        <%= link_to 'Show Lesson', course_lesson_path(@course, @lesson) %> |
        <%= link_to 'Back to course', course_path(@lesson.course) %>
    </div>
</div>
