<div class="card">
    <div class="card-header">
        <h1>New Lesson</h1>
    </div>
    <div class="card-body">
        <%= render 'form', lesson: @lesson %>
    </div>
    <div class="card-footer">
        <%= link_to 'Back', lessons_path %>
    </div>
</div>
