<hr>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                Copyright
                @
                <%= Time.now.year %>
                CoursePlatform elearn
                <div class="row"></div>
                    <i class="fa fa-envelope"></i>
                    <%= mail_to "standard" %>
                <div class="row"></div>
            </div>
                <div class="col-md-4">
                    <%= link_to "Privacy Policy", static_pages_privacy_policy_path %>
                    <div class="row">
                        Terms and conditions
                    </div>
                </div>
                <div class="col-md-4">
                    About us
                    <div class="row">
                        <%= link_to "Teach on boolearn", new_course_path %>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
                